:host {
  display: block;
  border: 4px solid cyan;
  background-color: rgba(74,76,78,0.8);
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  color: white;
  box-shadow: 5px 5px 5px 3px #888888;
}
#t{
  margin: 0 auto;
  border: cyan 3px solid;
}
tr{

  border: cyan 2px solid;
}
td{

  width: 100px;
  height: 100px;
  border: cyan 2px solid;
}

