<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet">
<p style="margin: 0 65% 0 0">{{'Today:'+' '+date}}</p>

<div>
  <p class="Date">June 22 2020</p>
  <h2><b>My blog sample</b></h2>
  <p class="quote">At The New Yorker Festival, strange bedfellows learn to coexist in exchange for 48 hours of wit,
    culture,
    cross-disciplinary insight, and more than a little pretense. The seats before each stage are filled by a mixture of hipster dandy types, graying men in wide-wale corduroys, folks notable only for looking as if they stepped out of this month’s style guide, and too-eager people of all stripes who fail to see neighbors roll their eyes when they clamber to ask questions that make them think, “Ha! In this crowd of smarties, I too am smart.”</p>

  <p>On-stage dynamics range from warm to conciliatory to venomous. There’s the writer whose partner in dialogue has been a close friend for years. On the other extreme, there are the panelists who shoot each other withering looks and, after the first question, refuse to acknowledge the moderator’s existence.
  </p>

  <p>Despite these underlying tensions, the weekend unfurls without major incident. And it’s clear that the no-apologies nature of both the program and the crowd make the entire event more provocative. Middle-grounders they are not, making the experience of being there more memorable. It turns into a series of bold conversations about what might be next and what’s starting to bubble up, not about ideas that have been done and that feel tired. Risk-taking is in the air, and the non-threatening has no place.</p>
  <p>It was fitting, then, that all of the talks I attended last Friday through Sunday pointed to the question of how to maintain a certain level of intensity without losing oneself or one’s message in the process. The issue wasn’t about balance or compromise; it was about how to exist on a knife’s edge without falling off one side or the other. Whether directly or through my own interpretation, each conversation I heard demonstrated that it’s there on the precipice where the most exciting stuff happens—but that it takes focus and periodic reassessment to stay there.</p>
  <p>As the weekend pulsed on, the same types of questions cropped up no matter what the topic at hand. Still, what struck me as key takeaways fell into three main buckets: (1) broader societal and cultural trends; (2) how messages are transmitted and received; and (3) the ways of work that appear most effective for some of the people we most admire.</p>

</div>
<hr style="border: 2px solid gray">

<div>
  <p class="Date">June 22 2020</p>
  <h2><b>Another article</b></h2>

  <p>For Malcolm Gladwell, a central concern in his talk was how to create societal mechanisms that help stop people from getting screwed without going so far as to constrain the healthy running of society. If we want to make it less likely for the Bernie Madoffs to get away with fraud, but we also don’t want to foster a culture of suspicion or authoritarianism, what’s the narrow path forward?</p>
  <p>A panel about income inequality considered the argument that the so-called elites of American society used to be bound by a code of “seemliness” that kept excess in check, and that the loss of the common narrative emerging out of World War II has eroded that code, making the upper echelons ever more disengaged from the rest of us. With that problem posed, it’s worth asking: In an era where the American cultural experience is so fragmented, where could another powerful, lasting, and positive common narrative come from?</p>
  <p>Jeremy Denk suggested in his talk that what makes good comedy (and classical music, for that matter) tick involves having recognizable “types” that allow an audience to follow a plot however those basic elements interact with each other. Using examples from Seinfeld, Portlandia, and various pieces for the piano, he raised the question: How can you incorporate powerfully resonant building blocks into your storytelling in a way that leverages shared experience without being too obvious or formulaic?</p>
</div>

<a routerLink="/main">Return Main</a>
